body
{
    
}
/* Header Section */
 

 

    .navbar-brand i.blue {
        color: blue; /* Color when scrolled */
    }

.navbar-nav {
    flex: 1;
    justify-content: center;
    
}

.navbar-right {
    margin-left: auto;
}

.nav-link {
    font-weight: bold;
}

.drawer-button {
    background-color: blue;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-right: 20px;
     
    font-weight:bold
}

    .drawer-button i {
        font-size: 14px;
        margin-right: 5px; /* Adjust icon-text spacing */
        margin-left:6px
    }

    .drawer-button:hover {
        background-color: #333; /* Darken background on hover if needed */
    }
/* Drawer */
.drawer {
    position: fixed;
    top: 0;
    right: -300px;
    width: 200px;
    height: 100%;
    background-color: #007bff;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    transition: right 0.3s;
}

.hidden {
    display: none;
}


    .drawer.open {
        right: 0;
    }

.drawer-header {
    
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .drawer-header h1 {
        margin: 0;
        font-size: 20px;
        font-weight:bold;
        color:white;
    }

    .drawer-header i {
        cursor: pointer;
        font-size: 15px;
        padding-left:50px;
        color:#000
    }

.drawer-content {
    padding: 10px;
}

    .drawer-content h1 {
        margin-top: 10px;
    }

.drawer-nav {
    list-style-type: none;
    padding: 0;
    font-weight:bold
}

    .drawer-nav li {
        margin-bottom: 10px;
    }

        .drawer-nav li a {
            text-decoration: none;
            color: #000;
            transition: color 0.3s;
        }
            .drawer-nav li a:hover {
                color: white;
            }

.drawer-social {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

    .drawer-social a {
        color: #000;
        font-size: 24px;
        transition: color 0.3s;
    }
.drawer-social a:hover {
    color: white;
}

/* Drawer end */
/* Header Section end */

/*Hero Section */


.hero-section {
    background: linear-gradient(to bottom, rgba(0, 0, 255, 0.7), rgba(255, 255, 255, 0.5)), url('https://towerleases.com/wp-content/uploads/2018/12/cell-phone-tower.jpeg') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    height: 600px;
}
.navbar-brand img{
    
    padding-right:0px;
    padding-top:50px;
    float:left
    
     
}
.hero-heading {
    font-size: 4em;
    font-weight: bold;
    
    
}

.hero-subheading {
    font-size: 1.5em;
    padding-top: 2px;
    padding-top: 210px;
}

.hero-button {
    margin-top: 20px;
    font-weight: bold;
}

    .hero-button:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

/*Hero Section end*/

/*About Section */


.about-section {
    padding: 60px 20px;
    background-color:white;
    background-size: cover;
    color: #3f3d3d;
}

.about-heading {
    font-size: 2.5em;
    margin-bottom: 20px;
    margin-left:220px;
    font-weight:bolder
    
      
     
    
}
.about-section span{
    font-size: 1.5em;
    margin-bottom: 20px;
     color:blue;
    font-weight: bold
}
.about-section p{
    font-size: 1.5em;
    margin-bottom: 20px;
     
    font-weight: bold
}


.about-content {
    display: flex;
    align-items: center;

}
 

.about-text {
    flex: 1;
    margin-right: 20px;
}

.about-image {
    background: linear-gradient(to bottom, rgba(0, 0, 255, 0.7), rgba(255, 255, 255, 0.5)),  no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 300px;
    border-radius: 10px; /* Rounded corners */
}

/*About Section end*/

/*Services Section */


.services-section {
    padding: 60px 20px;
    background: linear-gradient(to top, #0000ff, #ffffff, #656363); /* Set the background color */
}

.services-heading {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
    font-weight:bold
}

.services-headingTwo {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 40px;
    font-weight: bold;
    color:white
}

.services-section p {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 40px;
     
    
}




.service-item {
    text-align: center;
    padding: 20px;
}

.service-icon {
    font-size: 2em;
    color: white;
    background-color: #007bff; /* Green background color */
    border-radius: 50%; /* Fully rounded border */
    padding: 15px; /* Optional: Add padding to make the icon area larger */
    display: inline-block; /* Optional: Ensure the icon is displayed as a block element */
}

.service-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.service-description {
    font-size: 1em;
}
/*services Section end*/
/*Pakages Section */

#packages-section {
    background: linear-gradient(to top, white 30%, #2575fc 100%);
    color: white;
    padding: 50px 0;
    text-align: center;
}

.section-header h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color:black;
    font-weight:bold
}

.section-header h2 {
    font-size: 1em;
    margin-bottom: 20px;
    font-weight:bold

}

.section-header p {
    font-size: 1.1em;
    margin-bottom: 50px;
    max-width: 600px;
    margin: 0 auto;
    color:black
}

.packages-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.package-item {
    position: relative;
    width: 200px;
    height: 200px;
}

    .package-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

.package-name {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: none;
}

.package-item:hover .package-name {
    display: block;
}

/*packages Section end*/



/*contact Section */

#contact {
    background: linear-gradient(to right, #43cea2, #185a9d);
    color: white;
}

    #contact h3 {
        font-size: 2.5rem;
        font-weight:bold;
        color:black
    }
    #contact h1 {
        font-size: 3.5rem;
        font-weight: bold;
        
    }
    #contact p {
        color:black
         
    }

    #contact .form-control {
        border-radius: 0;
    }

    #contact .btn {
        border-radius: 0;
    }

    #contact .map-container {
        margin-top: 20px;
    }
     #contact  .information{
         padding-left:150px;
          

     }
/*contact Section end*/


/*footer Section */



.footer {
    background: linear-gradient(to right, #333, #111);
    color: white;
}

    .footer h5 {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    .footer a {
        color: white;
        transition: color 0.3s ease;
    }

        .footer a:hover {
            color: #ff7e5f;
        }

    .footer ul {
        padding-left: 0;
    }

        .footer ul li {
            list-style: none;
        }

    .footer .maaz {
         padding-left:130px;
    }

        .footer .social-media li a {
            font-size: 1.2rem;
            margin-right: 15px; /* Add space between icons */
        }

        .footer .social-media li:last-child a {
            margin-right: 0; /* Remove margin from the last icon */
        }

/*footer Section end*/


 