body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    background-image: url("https://www.thoughtco.com/thmb/uAj33yEBplPVl84Uc-axOjDDRzU=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/mike-tyson-kicks-off-australia-speaking-tour-in-brisbane-156502182-5ce081ba44f640c8955e51aa1a939341.jpg");
    background-size:  1000px;
    background-repeat:no-repeat;
    background-position: 400px top ;

     
}

.navigation {
    position: fixed;
    top: 0;
    width: 100%;
   
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
    height: 50px;
    

    box-shadow: 0 2px 5px rgba(0,0,0,0.1);  
}

 
section {
      
}

html {
    scroll-behavior: smooth;
}



 

.heading h2{
    float:left;
    padding-left:50px;
    color:#ffffff;
}
.heading h2 span{
    color:#ff0000
}

.nav-center {
    flex: 2;
    justify-content: center;
    margin-left:30%;
    
}


 nav a {
    color: white;
    text-decoration: none;
    padding: 0 1rem;
    transition: color 0.3s;
    
}

    nav a:hover {
        color: #ff6347;  
    }
   

.nav-center a {
    margin-top: 40px;
    margin-left:30px;
}

  
    

.nav-left, .nav-center, .nav-right {
    display: flex;
    align-items: center;
}

.nav-left {
    flex: 1;
    justify-content: flex-start;
}

.nav-right {
    flex: 1;
    justify-content: flex-end;
    

}

button.subscribe {
    background-color: #ff6347;
    color: white;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    right:40px;
    cursor: pointer;
    position: absolute;  
    top: 42px;  
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

    button.subscribe:hover {
        background-color: #ffcccb;  
        color: #ff6347; 
        border-color: #ff6347; 
    }


.introduction {
    text-align: left;
    margin-top: 95px;
    margin-left:50px;
}

    .introduction p {
        margin: 5px 0;
        color:#ffffff
    }

.intro-line-2 {
    font-size: 30px;
    padding-left:10px;
}

.highlight {
    color: red;
}


.email-signup {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 25px;
    width:20%;
    border-radius: 20px;  
    padding: 10px;
    margin-left: 40px;
    overflow:hidden;
}

.email-input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-right: none; 
    border-radius: 20px 0 0 20px;  
    border-radius: 20px 0 0 20px; 
    outline: none;
    flex-grow: 1;
}

.start-button {
    background-color: red;
    color: white;
    border: 1px solid red; 
    border-left: none; 
    border-radius: 0 20px 20px 0;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

    .start-button:hover {
        background-color: #ffcccb;  
        color: #ff6347;  
        border-color: #ff6347;  
    }

 
    

.about-me {
    display: flex;
    align-items: center;
       
    width: 100%;
    height:550px;
    margin-top:100px;
    padding-left: 20%;
        box-sizing: border-box;
    background-color:#333;
}

.about-me-image {
    width: 200px;  
    height: 300px;  
    object-fit: cover;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom:45px;
}

.about-me-text {
    flex-grow: 1;
    margin-bottom:45px;
    margin-left:30px;
    color:#ffffff
}

.about-me h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.about-me h3 {
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
}

    .about-me h3 .highlight {
        color: red;
    }

.about-me p {
    margin: 10px 0;
    width:60%;
    font-size:15px;
    color:#ccc
}

.talk-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

    .talk-button:hover {
        background-color: #ffcccb;  
        color: #ff6347;  
        border-color: #ff6347;  
    }


.our-services {
    margin: 50px 0;
    text-align: center;
    border:1px ;
    border-radius:10px;
}

    .our-services h2 {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 20px;
        color:#ffffff
    }

.service {
    display: inline-block;
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    vertical-align: top;
    border-radius: 10px;  
    border: 1px solid #808080;  
    margin: 0 10px;
}

.service-icon {
    font-size: 40px;
    margin-bottom: 10px;
    color: red;
     
}

.service h3 {
    font-size: 22px;
    margin: 10px 0;
    font-weight: bold;
    color:#ffffff
}

.service p {
    font-size: 16px;
    color: #666;
}

.read-more {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;  
    background-color: red;  
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

    .read-more:hover {
        background-color: #ffcccb;  
        color: #ff6347;  
        border-color: #ff6347;  
    }

.hire-section {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 50px 20px;
    margin-top: 20px;
}

    .hire-section h2 {
        margin-bottom: 20px;
    }

.hire-me {
    padding: 15px 30px;
    border: none;
    border-radius: 30px;  
    background-color: red;  
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

    .hire-me:hover {
        background-color: #ffcccb;  
        color: #ff6347;  
        border-color: #ff6347;  
    }


.personal-section {
     
    color: white;
    text-align: center;
    padding: 50px 20px;
    margin-top: 20px;
}

    .personal-section h2 {
        margin-bottom: 20px;
    }

    .personal-section p {
        font-size: 16px;
        margin-bottom: 20px;
    }


.social-icons a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
}

.social-icons i {
    color: white;
    background-color: red;  
    border: 2px solid red;  
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    width: 21px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.social-icons a:hover i {
    background-color: #ffcccb;  
    color: #ff6347;  
    border-color: #ff6347;  
}

 

