body {
   
    padding: 0;
    margin: 0;
   
}

.curved-header-section {
    height: 550px;
    position: relative;
    overflow: hidden;
}

    .curved-header-section::after {
        content: '';
        display: block;
        position: absolute;
        top: 0; /* Adjust this value as needed */
        left: 0;
        width: 100%;
        height: 100%; /* Adjust this value as needed */
        background: linear-gradient(45deg,#0026ff, #4800ff);
        border-radius: 0 0 50% 50%/0 0 100% 100%;
        transform: scaleX(1.5);
    }

.header-content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 50px 0;
}


    .header-content h1 {
        font-weight: bold;
        color: white;
        text-align: left;
    }

.nav-links {
    text-align: center;
    margin-bottom: 20px;
}

    .nav-links a {
        color: white;
        margin: 0 10px;
        text-decoration: none;
    }

.btn-buy {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.additional-content {
    margin-top: 30px;
    position: relative;
    z-index: 1;
    margin-left: 165px;
}

    .additional-content h1 {
        color: white;
    }

    .additional-content p {
        color: white;
    }

.btn-view-pages {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
}

.btn-documentation {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.undraw-image {
    width: 100%;
    max-width: 400px;
    margin-left: 30px;
}

.horizontal-section{
    margin-top:27px;
}

.Three-pieces i {
    color: white;
    border-radius: 50px;
    background-color: blue;
    font-size: 20px;
    padding: 10px;
}
.Three-pieces p{
    color:gray;
    font-size:13px;
}
 